@tailwind base;
@tailwind components;
@tailwind utilities;


html,#center {
    scroll-behavior: smooth;
}
#btn-browser-up {
    visibility: hidden;
    opacity: 0;
    transform: scale(0);
}
#btn-browser-up.active {
    visibility: visible;
    opacity: 1;
    transform: scale(1);
}